/*
Name: Cory Bandrowsky
Date Created: 09/03/2021
Most Recent Revision:
*/

body{
	background-color: #f8e8e4;
	font-family: arial, helvetica, sans-serif;
	color: #0d1f2d;
	max-width: 900px;
	margin: 0 auto;
}

header, footer{
	background-color: #df674e;
	color: #fef9ff;
	height: 100px;
	text-align: center;
	padding: 30px 10px 20px 10px;
}

article img{
	display: block;
	margin: auto;
	margin-top: 7px;
}

nav{
	border-top: 3px dashed #546a7b;
	border-bottom: 3px dashed #546a7b;
	margin-top: 4px;
}

nav a {
	background-color: #df674e;
	color: #fef9ff;
	padding: 8px;
	border: thin solid #0d1f2d;
	text-decoration: none;
	text-align: center;
	display: block;
	margin: 20px;
	width: 100px;
	float: left;
}

table{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 90px;
}


.clear-float{
	clear:both;
}

.right-content{
	float:left;
}

.contactInfo{
	text-align: center;
	margin: auto;
}